.floatdata {
  float:right;
     }
.displaydata {
    display:inline-block;
}
.deadline-color[target="1"] {
  background-color: red; } 

.deadline-color[target="2"] {
  background-color: forestgreen; }

.deadline-color[target="3"] {
  background-color: #f2de00; }

.note-col {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	border-radius: 3px;
}

.note-col[target="1"] {
  background-color:#7DFF00;
} 

.note-col[target="2"] {
  background-color:#FAFA32;
} 

.note-col[target="3"] {
  background-color:#80FFFF;
} 

.note-col[target="4"] {
  background-color:#80CFFF;
} 

.note-col[target="5"] {
  background-color:#009BFF;
} 
.note-col[target="6"] {
  background-color:#FFB300;
} 
.note-col[target="7"] {
  background-color:#FF00FF;
} 
.note-col[target="8"] {
  background-color:#966432;
} 
