@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: #fff url("../images/top-bar_BG.jpg") no-repeat left center;
	background-size: cover;
	z-index: 1000; /*Must always be on top*/
}

.logo-vitae {
	line-height: 50px;
	color: #fff;
	padding: 0 20px;
	font-size: 1.5rem;
	font-family: 'Noto Sans', sans-serif;
	float: left;
}

.time-stamp {
	display: none;
}

.user-container,
.change-overview {
	display: grid;
	align-items: center;
	justify-items: left;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.25);
	float: right;
	margin: 5px 10px;
	padding-left: 10px;
	border-radius: 4px;
	overflow: hidden;
	color: #fff;
	font-size: .7rem;
	border: 1px solid #fff;
	text-decoration: none;
}

	.user-container:hover,
	.change-overview:hover {
		color: #fff;
	}

.user-container {
	grid-template-columns: auto 40px;
	grid-template-rows: 1fr 1fr;
	grid-gap: 3px;
}

	.user-container div {
		padding: 0 5px;
	}

	.user-container .user-name {
		font-weight: bold;
		font-size: .7rem;
		align-self: flex-end;
	}

	.user-container .user-role {
		font-size: .65rem;
		align-self: flex-start;
	}

	.user-container svg {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		font-size: 1rem;
		justify-self: center;
	}

.top-dropdown-arrow {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	background-image: url("../images/arrow-down.svg");
	background-repeat: no-repeat;
	background-size: 15px auto;
	background-position: center;
}

.change-overview {
	grid-template-columns: 1fr 40px;
	grid-template-rows: 1fr;
}

	.change-overview div {
		line-height: 40px;
		padding: 0 5px;
	}
	.change-overview svg {
		justify-self: center;
		font-size: 1rem;
	}


.btn-plus {
	position: relative;
	width: 34px;
	height: 34px;
	background-color: transparent;
	border: solid 1px #fff;
	float: right;
	margin: 8px 10px 0 0;
	border-radius: 50%;
	transition: all 100ms linear;
}

	.btn-plus:before { /*horizontal*/
		content: "";
		width: 16px;
		height: 2px;
		position: absolute;
		left: 8px;
		top: 15px;
		background-color: #fff;
	}

	.btn-plus:after { /*vertical*/
		content: "";
		width: 2px;
		height: 16px;
		position: absolute;
		left: 15px;
		top: 8px;
		background-color: #fff;
	}

	.btn-plus:hover {
		background-color: rgba(255, 255, 255, .1);
		cursor: pointer;
		box-shadow: 2px 3px 10px rgba(0, 0, 0, 1);
		transform: scale(1.1, 1.1);
	}

	.btn-plus[aria-expanded="true"] { /*Rotate button 45deg when clicking*/
		transform: rotate(45deg);
	}

.dropdown-item {
	display: grid;
	grid-template-columns: 17px 1fr;
	grid-column-gap: 10px;
	border: solid 1px transparent;
}

/*.dropdown-menu[aria-labelledby="plusDropdown"] .dropdown-item {
	position: relative;
	padding-left: 54px;
}*/

.dropdown-item:focus, .dropdown-item:hover {
	background-color: rgb(242, 248, 251);
	border-bottom: solid 1px rgb(220, 220, 220);
	border-top: solid 1px rgb(220, 220, 220);
}

.dropdown-item:active {
	color: #000;
}

.dropdown-item svg {
	width: 18px;
	align-self: center;
}

	/*.dropdown-item.dropdown-item-note:before, .dropdown-item.dropdown-item-message:before, .dropdown-item.dropdown-item-deadline:before {
		content: "";
		width: 20px;
		height: 20px;
		position: absolute;
		top: 4px;
		left: 0;
		background-size: 20px auto;
		background-repeat: no-repeat;
		margin: 0 0 0 24px;
	}
	.dropdown-item.dropdown-item-note:before {
		background-image: url('../images/note.svg');
	}
	.dropdown-item.dropdown-item-message:before {
		background-image: url('../images/message.svg');
	}
	.dropdown-item.dropdown-item-deadline:before {
		background-image: url('../images/deadline.svg');
	}*/

	@media screen and (min-width: 600px) {
		.time-stamp {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: 1fr 1fr;
		grid-column-gap: 10px;
		font-family: 'Noto Sans', sans-serif;
		font-size: .8rem;
		color: #fff;
		float: left;
		height: 50px;
		margin-left: 50px;
	}

		.time-stamp #current-date {
			grid-column: 1 / 2;
			grid-row: 1 / 3;
			align-self: center;
			font-size: 1.9rem;
		}

		.time-stamp #current-month-year {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			align-self: flex-end;
		}

		.time-stamp #current-day {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
			align-self: flex-start;
		}
}
